<%= form_with(model: concepto) do |form| %>
  <% if concepto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concepto.errors.count, "error") %> prohibited this concepto from being saved:</h2>

      <ul>
        <% concepto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="padding-top: 50px;padding-bottom: 30px;">
    <table class="show-table">
      <tr>
        <td>Capítulo:</td>
        <td><%= form.collection_select :capitulo_id, @capitulos, :id, :mix_clave_desc, { :prompt => "Capítulo" } %></td>
      </tr>
      <tr>
        <td>Clave:</td>
        <td><%= form.text_field :clave %></td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td><%= form.text_area :description, cols: 40, rows: 5 %></td>
      </tr>

      <tr>
        <td  colspan="2" class="botones"><%= form.submit "Crear Concepto", class: "btn-lg success" %></td>
      </tr>
    </table>
  </div>

<% end %>
