
<h1>Conceptos</h1>

<div>
  <%= render "form", concepto: @concepto %>
</div>

<div class="index-division">
  <table class="index-table">
    <thead>
      <tr>
        <th>Capítulo</th>
        <th>Clave</th>
        <th>Description</th>
        <th class="actions" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @conceptos.each do |concepto| %>
        <tr>
          <td><%= concepto.capitulo.mix_clave_desc %></td>
          <td><%= concepto.clave %></td>
          <td><%= concepto.description %></td>
          <td class="botones"><%= link_to 'Show', concepto, class: "btn info" %></td>
          <td class="botones"><%= link_to 'Edit', edit_concepto_path(concepto), class: "btn info" %></td>
          <td class="botones"><%= link_to 'Destroy', concepto, class: "btn info", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% content_for :footer do %>
  <p id="notice"><%= notice %></p>
<% end %>