<ul class="menu">
  <% if logged_in? %>
    <% @options.each do |opcion| %>
      <li>
        <% if opcion[:submenu] != [] %>
          <%= link_to "#{opcion[:letrero]}<i class='icono derecha fas fa-chevron-down drop-down'></i>".html_safe, '#'%>
          <ul>
            <li>
              <% opcion[:submenu].each do |subopcion| %>
                <%= link_to subopcion[:opcion], eval(subopcion[:ruta]) %>
              <% end %>
            </li>
          </ul>          
        <% else %>
          <%= link_to opcion[:letrero], eval(opcion[:macro_ruta]) %>
        <% end %>
      </li>
    <% end %>
      <li><%= link_to "log out", logout_path, method: "delete", class: "btn-lg warning bottom" %></li>
  <% else %>
    <li><%= link_to "Log in", login_path, class: "btn-lg success" %></li>
  <% end %>
</ul>