<%= form_with(model: partida) do |form| %>
  <% if partida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partida.errors.count, "error") %> prohibited this partida from being saved:</h2>

      <ul>
        <% partida.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="padding-top: 50px;padding-bottom: 30px;">
    <table class="show-table">
      <tr>
        <td>Concepto:</td>
        <td><%= form.collection_select :concepto_id, @conceptos, :id, :mix_clave_desc, { :prompt => "Concepto" } %></td>
      </tr>
      <tr>
        <td>Clave:</td>
        <td><%= form.text_field :clave %></td>
      </tr>
      <tr>
        <td>Descripción:</td>
        <td><%= form.text_area :description, cols: 40, rows: 5 %></td>
      </tr>
      <tr>
        <td  colspan="2" class="botones"><%= form.submit "Crear Partida", class: "btn-lg success" %></td>
      </tr>
    </table>
  </div>

<% end %>
