<div style="padding-top: 50px;padding-bottom: 30px;">
  <table class="show-table">
    <tr>
      <td>Capítulo:</td>
      <td><%= @partida.concepto.capitulo.mix_clave_desc %></td>
    </tr>
    <tr>
      <td>Concepto:</td>
      <td><%= @partida.concepto.mix_clave_desc %></td>
    </tr>
    <tr>
      <td>Clave:</td>
      <td><strong><%= @partida.clave %></strong></td>
    </tr>
    <tr>
      <td>Descripción:</td>
      <td><strong><%= @partida.description %></strong></td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_partida_path(@partida) %> |
<%= link_to 'Back', partidas_path %>

<% content_for :footer do %>
  <p id="notice"><%= notice %></p>
<% end %>
