<%= form_with(model: input, id: "new-input", local: false) do |form| %>
  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   
  <div style="padding-top: 50px;padding-bottom: 30px;">
    <table class="show-table">
      <tr>
        <td>Proveedor:</td>
        <td colspan="3"><%= form.collection_select :supplier_id, @suppliers, :id, :name, { :prompt => "Proveedor sugerido"}%></td>
      </tr>
      <tr>
        <td>Factura:</td>
        <td><%= form.text_field :invoice %></td>
        <td>Fecha:</td>
        <td><%= form.date_field :input_date %></td>
      </tr>
    </table>
    <div class="void-space">
      <br>
    </div>
    <table class="index-table">
      <thead>
        <tr>
          <td>Producto</td>
          <td>Cantidad</td>
          <td>Ubicación</td>
          <td>Acción</td>
        </tr>
      </thead>
      <tbody>
        <%  %>
        <tr>
          <td><%= form.collection_select :product_id, @products, :id, :name, { :prompt => "Producto"}%></td>
          <td><%= form.text_field :quantity %></td>
          <td><%= form.text_field :location %></td>
          <% form.hidden_field :user_id, value: current_user.id %>
          <td><%= form.submit "Guardar", class: "btn success" %></td>
        </tr>
      </tbody>
    </table>
  </div>

<% end %>
