<tr>
  <td><%= input.product.name %></td>
  <td><%= input.quantity %></td>
  <td><%= input.user.name %></td>
  <td><%= input.location %></td>
  <td class="botones"><%= link_to 'Destroy', input, class: "btn info", method: :delete, data: { confirm: '¿Confirma la eliminación del registro?' } %></td>
</tr>