
<h1>Registro de entradas al almacén</h1>

<%= render 'form', input: @input %>

<table class="index-table">
  <tbody id='input-list'>
    <% @inputs.each do |input| %>
      <%= render 'inputs', input: input %>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Input', new_input_path %>

<%= content_for :footer do %>
  <p id="notice"><%= notice %></p>
<%  end %>