<% content_for :main_window do %>
  <p id="notice"><%= notice %></p>

  <p>
    Nombre:
    <strong><%= @user.name %></strong>
  </p>

  <p>
    Email:
    <strong><%= @user.email %></strong>
  </p>

  <p>
    Nivel:
    <strong><%= @user.access_level %></strong>
  </p

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>