<div class="show-division-head">
  <table class="show-table">
    <tr>
      <td>Nombre:</td>
      <td><strong><%= @user.name %></strong></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><strong><%= @user.email %></strong></td>
    </tr>
    <tr>
      <td>Nivel:</td>
      <td><strong><%= @user.access_level %></strong></td>
    </tr>
  </table>
</div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

<% content_for :footer do %>
  <p id="notice"><%= notice %>
<% end %>