<h1>Inventario</h1>
<%= form_for( @search , remote: true) do |f| %>
  <%= f.label :code%>
  <%= f.text_field :code, class: "form-control" %>

  <%= f.label :name, "Nombre del producto" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :brand, "Marca:" %>
  <%= f.text_field :brand, class: "form-control" %>

  <%= f.label :supplier_id, "Proveedor" %>
  <%= f.collection_select :supplier_id, @suppliers, :id, :name, include_blank: true %>

  <%= f.label :capitulo_id, "Capitulo" %>
  <%= f.collection_select :capitulo_id, @capitulos, :id, :description, include_blank: true %>

  <%= f.label :concepto_id, "Concepto" %>
  <%= f.grouped_collection_select :concepto_id, @capitulos, :conceptos, :mix_clave_desc, :id, :mix_clave_desc, include_blank: true %>

  <%= f.label :partida_id, "Partida" %>
  <%= f.grouped_collection_select :partida_id, @conceptos, :partidas, :mix_clave_desc, :id, :mix_clave_desc, include_blank: true %>

  <%= f.submit "Buscar", class: "btn-lg success" %>
<% end %>