<div class="show-division-head">
  <table class="show-table">
    <tr>
      <td>Código EAN:</td>
      <td><strong><%= @product.code %></strong></td>
    </tr>
    <tr>
      <td>Capítulo:</td>
      <td><strong><%= Capitulo.find_by(id: @product.capitulo_id).mix_clave_desc %></strong></td>
    </tr>
    <tr>
      <td>Concepto:</td>
      <td><strong><%= Concepto.find_by(id: @product.concepto_id).mix_clave_desc %></strong></td>
    </tr>
    <tr>
      <td>Partida:</td>
      <td><strong><%= Partida.find_by(id: @product.partida_id).mix_clave_desc %></strong></td>
    </tr>
    <tr>
      <td>Nombre:</td>
      <td><strong><%= @product.name %></strong></td>
    </tr>
    <tr>
      <td>Marca:</td>
      <td><strong><%= @product.brand %></strong></td>
    </tr>
    <tr>
      <td>Descripción:</td>
      <td><strong><%= @product.description %></strong></td>
    </tr>
    <tr>
      <td>Unidad de medida:</td>
      <td><strong><%= @product.unit %></strong></td>
    </tr>
    <tr>
      <td>Empaque:</td>
      <td><strong><%= @product.package %></strong></td>
    </tr>
    <tr>
      <td>Unidades/empaque:</td>
      <td><strong><%= @product.units_per_package %></strong></td>
    </tr>
    <tr>
      <td>Último precio:</td>
      <td><strong><%= @product.last_price  %></strong></td>
    </tr>
    <tr>
      <td>En stock:</td>
      <td><strong><%= @product.stock  %></strong></td>
    </tr>
    <tr>
      <td>Proveedor:</td>
      <td><strong><%= Supplier.find_by(id: @product.supplier_id).name  %></strong></td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<% content_for :footer do %>
  <p id="notice"><%= notice %></p>
<% end %>