<%= form_with(model: supplier) do |form| %>
  <%= content_for :footer do %>
    <% if supplier.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(supplier.errors.count, "error") %> Impidieron guardar este registro:</h2>
        <ul>
          <% supplier.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <div style="padding-top: 50px;padding-bottom: 30px;">
    <table class="show-table">
      <tr>
        <td><%= form.label :id, "Código:" %></td>
        <% if action_name == "new" %>
          <td><%= Supplier.maximum(:id) + 1 %></td>
        <% else %>
          <td><%= form.text_field :id, disabled: true %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= form.label :name, "Nombre:" %></td>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr>
        <td><%= form.label :phone, "Teléfono:" %></td>
        <td><%= form.text_field :phone %></td>
      </tr>
      <tr>
        <td><%= form.label :email %></td>
        <td><%= form.text_field :email %></td>
      </tr>
      <tr>
        <td><%= form.label :address, "Dirección:" %></td>
        <td><%= form.text_area :address %></td>
      </tr>
      <tr>
        <td><%= form.label :postal_code, "Código Postal:" %></td>
        <td><%= form.text_field :postal_code %></td>
      </tr>
      <tr>
        <td  colspan="2" style="text-align: center;"><%= form.submit class: "btn-lg success" %></td>
      </tr>
    </table>
  </div>
 
<% end %>
