
  <h1>Proveedores</h1>

<div class="index-division">
  <table class="index-table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>C. P.</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= supplier.id %></td>
          <td><%= supplier.name %></td>
          <td><%= supplier.phone %></td>
          <td><%= supplier.email %></td>
          <td><%= supplier.address %></td>
          <td><%= supplier.postal_code %></td>
          <td><%= link_to 'Show', supplier, class: "btn info" %></td>
          <td><%= link_to 'Edit', edit_supplier_path(supplier), class: "btn info" %></td>
          <td><%= link_to 'Destroy', supplier, class: "btn info", method: :delete, data: { confirm: '¿Está de acuerdo en eliminar al proveedor?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <br>

  <%= link_to 'Proveedor nuevo', new_supplier_path, class: "btn-lg success" %>


<% content_for :footer do %>
  <p id="notice"><%= notice %></p>
<% end %>