<div class="show-division-head">
  <table class="show-table">
    <tr>
      <td>Código:</td>
      <td><strong><%= @supplier.id %></strong></td>
    </tr>
    <tr>
      <td>Nombre:</td>
      <td><strong><%= @supplier.name %></strong></td>
    </tr>
    <tr>
      <td>Teléfono:</td>
      <td><strong><%= @supplier.phone %></strong></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><strong><%= @supplier.email %></strong></td>
    </tr>
    <tr>
      <td>Dirección:</td>
      <td><strong><%= @supplier.address %></strong></td>
    </tr>
    <tr>
      <td>Código Postal:</td>
      <td><strong><%= @supplier.postal_code %></strong></td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>

<% content_for :footer do %>
  <p id="notice"><%= notice %></p>
<% end %>