<%= form_with(model: @output, id: "new-output", local: false) do |form| %>
  <% if @output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@output.errors.count, "error") %> prohibited this output from being saved:</h2>

      <ul>
        <% @output.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="index-division">
    <table class="show-table">
      <tr>
        <td colspan="2">Nombre de quién recibe:</td>
        <td colspan="2"><%= form.text_field :receiving_person %></td>
      </tr>
      <tr>
        <td colspan="2">Área que recibe:</td>
        <td colspan="2"><%= form.text_field :receiving_area %></td>
      </tr>
      <tr>
        <td>Referencia:</td>
        <td><%= form.text_field :invoice %></td>
        <td>Fecha:</td>
        <td><%= form.date_field :output_date %></td>
      </tr>
    </table>
    <div class="void-space">
      <br>
    </div>
    <table class="index-table">
      <thead>
        <tr>
          <td>Producto</td>
          <td>Cantidad</td>
          <td>Acción</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.collection_select :product_id, @products, :id, :name, { :prompt => "Producto"}%></td>
          <td><%= form.text_field :quantity %></td>
          <% form.hidden_field :user_id, value: current_user.id %>
          <td><%= form.submit "Guardar", class: "btn success" %></td>
        </tr>
      </tbody>
    </table>
  </div>

<% end %>
